<style type="text/css">

  .main_area {
    position: absolute;
    top: 0%;
    left: 20%;
    right: 20%;
  }

  .hello {
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
    margin-top: 150px;
    color: rgb(57, 56, 66);
  }

  .retake {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: rgb(11, 99, 56);
  }

  .devise {
    display: inline-block;
  }

  .signup {
      position: absolute;
      right: 40%;
      top: 50%;
  }
  .login {
      position: absolute;
      left: 40%;
      top: 50%;
  }

  .button {
  display: inline-block;
  font-family: arial,sans-serif;
  font-size: 17px;
  font-weight: bold;
  color: rgb(68,68,68);
  text-decoration: none;
  user-select: none;
  padding: .2em 1.2em;
  outline: none;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  background: rgb(245,245,245) linear-gradient(#f4f4f4, #f1f1f1);
  transition: all .218s ease 0s;
}
.button:hover {
  color: rgb(24,24,24);
  border: 1px solid rgb(198,198,198);
  background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.button:active {
  color: rgb(51,51,51);
  border: 1px solid rgb(204,204,204);
  background: rgb(238,238,238) linear-gradient(rgb(238,238,238), rgb(224,224,224));
  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
}
</style>

<div class="main_area">
  <div class="hello">Добро пожаловать на сайт Easyre-take.com</div>

  <div class="retake">Пересдавайте экзамены легко!</div>
</div>
<div class="devise">
  <%= button_to "Регистрация", new_user_registration_path, :method => :get, :class => "button signup" %>
  <% if user_signed_in? %>
  <%= button_to('Выйти', destroy_user_session_path, :method => :delete, :class => "button login")%>        
  <% else %>
    <%= button_to('Войти', new_user_session_path, :class => "button login")  %>   
  <% end %>
</div>




